<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.profiling.provider.CoverageLaunchConfigurationType">
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\CLCD.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="CLCD"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="de.innot.avreclipse.configuration.app.debug.780034456"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CLCD"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="provider" value="org.eclipse.linuxtools.profiling.provider.coverage.gcov"/>
<stringAttribute key="toolname" value="Gcov"/>
</launchConfiguration>
